
/* CSS Variables */
:root {
    --salmon: #ff8b94;
    --rosy: #ffaaa5;
    --nude: #ffd3b6;
    --moss: #dcecd1;
    --glade: #a8e6cf;
    --shade: rgb(168, 168, 168);
    --spotlight: #fff18b;
    --babyblue: #a5cfff;
    --lavendar: #9a8bff;
    --midnight: #000851;
}

/* Universal Styling */
body {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--spotlight);
    font-family: monospace;
}

/* To Toggle Dark-Mode */
.dark-mode {
    background-color: var(--midnight);
    color: var(--spotlight);
}

hr {
    background-color: var(--shade);
    width: 65%;
    height: 3px;
    border-radius: 3px;
}

/* Title Styling */
#title {
    color: white;
    background-color: var(--glade);
    border: 10px solid var(--moss);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px white;
}

/* Timer Styling */
#timer-container {
    color: white;
    padding: 10px 15px;
    text-align: center;
    width: 50%;
    background-color: var(--babyblue);
    border-radius: 35px;
    margin: 25px auto;

}

.pulse-alert {
    color: white;
    padding: 10px 15px;
    text-align: center;
    width: 50%;
    background-color: var(--babyblue);
    border-radius: 35px;
    margin: 25px auto;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(165, 207, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px  rgb(165, 207, 255, 0);
    }

    100% {
        transformL scale(0.95);
        box-shadow: 0 0 0 0 rgb(165, 207, 255, 0);
    }
    
}

/* Start Button Styling */
.start-quiz {
    color: white;
    background-color: var(--salmon);
    border: 10px solid var(--rosy);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px var(--nude);
    transition-duration: 1s;
    transition-property: color, background-color, border, box-shadow;
}

.start-quiz:hover {
    cursor: pointer;
    color: var(--salmon);
    background-color: var(--nude);
    border: 10px solid var(--rosy);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px white;
    
}
.start-quiz:active {
    transform: translateY(5px);
    transition: none;
    cursor: pointer;
    color: var(--shade);
    background-color: white;
    border: 10px solid rgba(168,168,168,0.6);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px rgba(168,168,168,0.3);

}

/* Question Section Styling */
.question-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-height: 30vh;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 15px;
    border-radius: 35px;
    width: 80%;
    margin-bottom: 20px;
}

/* Question and Option Styling */
#question {
    color: var(--midnight);
    text-align: center;
    line-height: 2rem;

}

ol {
    display:none;
    list-style-type: none;
    padding-inline-start: 0;
}

.show-options {
    display:flex;
    flex-direction: column;
}

#option-1 {
    cursor: pointer;
    color: var(--midnight);
    margin: 10px auto;
    padding: 5px 15px;
    background-color: var(--lavendar);
    border-radius: 25px;
    width: fit-content;
    transition-duration: 0.5s;
    transition-property: background-color, color, box-shadow;


}

#option-1:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px 5px var(--shade);
}

#option-1:active {
    transform: translateY(3px);
}


#option-2 {
    cursor: pointer;
    color: var(--midnight);
    margin: 10px auto;
    padding: 5px 15px;
    background-color: var(--babyblue);
    border-radius: 25px;
    width: fit-content;
    transition-duration: 0.5s;
    transition-property: background-color, color, box-shadow;
}

#option-2:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px 5px var(--shade);
}

#option-2:active {
    transform: translateY(3px);
}

#option-3 {
    cursor: pointer;
    color: var(--midnight);
    margin: 10px auto;
    padding: 5px 15px;
    background-color: var(--moss);
    border-radius: 25px;
    width: fit-content;
    transition-duration: 0.5s;
    transition-property: background-color, color, box-shadow;
}

#option-3:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px 5px var(--shade);
}

#option-3:active {
    transform: translateY(3px);
}

#option-4 {
    cursor: pointer;
    color: var(--midnight);
    margin: 10px auto;
    padding: 5px 15px;
    background-color: var(--nude);
    border-radius: 25px;
    width: fit-content;
    transition-duration: 0.5s;
    transition-property: background-color, color, box-shadow;
}

#option-4:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px 5px var(--shade);
}

#option-4:active {
    transform: translateY(3px);
}


#modes {
    display: flex;
    flex-direction: row;
    
}




