
/* CSS Variables */
:root {
    --salmon: #ff8b8b;
    --rosy: #ffaaa5;
    --nude: #ffd3b6;
    --moss: #dcecd1;
    --glade: #a8e6cf;
    --shade: rgb(168, 168, 168);
    --spotlight: #fff18b;
    --babyblue: #a5cfff;
    --lavendar: #9a8bff;
    --dusk: #385176;
    --midnight: #000851;
}

/* Universal Styling */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--spotlight);
    font-family: monospace;
    transition-duration: 1s;
    transition-property: background-color;
}

hr {
    background-color: var(--shade);
    width: 65%;
    height: 3px;
    border-radius: 3px;
}

/* Title Styling */
#title {
    font-family: 'Rubik Distressed';
    color: var(--midnight);
    background-color: var(--glade);
    border: 10px solid var(--moss);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px white;
    transition-duration: 1s;
    transition-property: color,background-color,box-shadow;

}

.bounce {
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* Timer Styling */
#timer-container {
    font-family: 'Nerko One';
    color: var(--midnight);
    padding: 10px 15px;
    text-align: center;
    width: 50%;
    background-color: var(--babyblue);
    border-radius: 35px;
    margin: 15px auto;
    transition-duration: 1s;
    transition-property: background-color,color;

}

.pulse-alert {
    color: white;
    padding: 10px 15px;
    text-align: center;
    width: 50%;
    background-color: var(--babyblue);
    border-radius: 35px;
    margin: 25px auto;
    animation-name: pulse-blue;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(165, 207, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px  rgb(165, 207, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(165, 207, 255, 0);
    }
    
}

/* Main Title Animation */
@keyframes bounce {
    0% { 
        transform: translateY(0);

    }

    20% {
        transform: translateY(-10px) scaleX(0.9) scaleY(1);
    }

    25% {
        transform: translateY(2px) scaleX(1);
    }

    27% {
        transform: translateY(0) scaleX(1.1) scaleY(0.9);
    }

    29% {
        transform: translateY(0) scaleX(1);
    }

    31% {
        transform: scaleX(1.1) scaleY(0.9);
    }

    33% {
        transform: scale(1);
    }

    100% {
        transform: translate(0);
    }
    
}

/* Start Button Styling */
@keyframes pulse-pink {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 165, 207, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px  rgb(165, 207, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(165, 207, 255, 0);
    }
    
}

.start-quiz {
    font-family: 'Rubik Distressed';
    color: white;
    background-color: var(--salmon);
    border: 10px solid var(--rosy);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px var(--nude);
    animation-name: pulse-pink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    transition-property: color, background-color, border, box-shadow;
}

.start-quiz:hover {
    cursor: pointer;
    color: var(--salmon);
    background-color: var(--nude);
    border: 10px solid var(--rosy);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px white;
    
}
.start-quiz:active {
    transition: none;
    animation:none;
    transform: translateY(5px);
    cursor: pointer;
    color: var(--shade);
    background-color: white;
    border: 10px solid rgba(168,168,168,0.6);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px rgba(168,168,168,0.3);

}

/* Save Score Button Styling */
#save-score {
    font-family: 'Rubik Distressed';
    color: white;
    background-color: var(--salmon);
    border: 10px solid var(--rosy);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px var(--nude);
    animation-name: pulse-pink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    transition-property: color, background-color, border, box-shadow;
}

#save-score:hover {
    cursor: pointer;
    color: var(--salmon);
    background-color: var(--nude);
    border: 10px solid var(--rosy);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px white;
    
}
#save-score:active {
    transition: none;
    animation:none;
    transform: translateY(5px);
    cursor: pointer;
    color: var(--shade);
    background-color: white;
    border: 10px solid rgba(168,168,168,0.6);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px rgba(168,168,168,0.3);

}

/* Try Again Button Styling */
#try-again {
    font-family: 'Rubik Distressed';
    color: white;
    background-color: var(--salmon);
    border: 10px solid var(--rosy);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px var(--nude);
    animation-name: pulse-pink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    transition-property: color, background-color, border, box-shadow;
}

#try-again:hover {
    cursor: pointer;
    color: var(--salmon);
    background-color: var(--nude);
    border: 10px solid var(--rosy);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px white;
    
}
#try-again:active {
    transition: none;
    animation:none;
    transform: translateY(5px);
    cursor: pointer;
    color: var(--shade);
    background-color: white;
    border: 10px solid rgba(168,168,168,0.6);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px rgba(168,168,168,0.3);

}

/* Clear Record Button Styling */
#clear-history {
    font-family: 'Rubik Distressed';
    color: white;
    background-color: var(--salmon);
    border: 10px solid var(--rosy);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px var(--nude);
    animation-name: pulse-pink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    transition-property: color, background-color, border, box-shadow;
}

#clear-history:hover {
    cursor: pointer;
    color: var(--salmon);
    background-color: var(--nude);
    border: 10px solid var(--rosy);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px white;
    
}

#clear-history:active {
    transition: none;
    animation:none;
    transform: translateY(5px);
    cursor: pointer;
    color: var(--shade);
    background-color: white;
    border: 10px solid rgba(168,168,168,0.6);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px rgba(168,168,168,0.3);

}

/* Question Section Styling */
.question-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-height: 30vh;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 15px;
    border-radius: 35px;
    width: 80%;
    margin-bottom: 20px;
    transition-duration: 1s;
    transition-property: background-color, color;
}

.right-answer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-height: 30vh;
    background-color: var(--glade);
    padding: 10px 15px;
    border-radius: 35px;
    width: 80%;
    margin-bottom: 20px;
    transition-duration: 1s;
    transition-property: background-color, color;

}

.wrong-answer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-height: 30vh;
    background-color: var(--salmon);
    padding: 10px 15px;
    border-radius: 35px;
    width: 80%;
    margin-bottom: 20px;
    transition-duration: 1s;
    transition-property: background-color, color;
}

/* Question and Option Styling */
#question {
    font-size: 1.3em;
    color: var(--midnight);
    text-align: center;
    line-height: 1.6rem;
    transition-duration: 1s;
    transition-property: color;
}

ol {
    display:none;
    list-style-type: none;
    padding-inline-start: 0;
}

.show-options {
    display:flex;
    flex-direction: column;
}

#option-1 {
    font-size: 1.2em;
    cursor: pointer;
    color: var(--midnight);
    margin: 5px auto;
    padding: 5px 15px;
    background-color: var(--lavendar);
    border-radius: 25px;
    width: fit-content;
    transition-duration: 0.5s;
    transition-property: background-color, color, box-shadow;


}

#option-1:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px 5px var(--shade);
}

#option-1:active {
    transform: translateY(3px);
}


#option-2 {
    font-size: 1.2em;
    cursor: pointer;
    color: var(--midnight);
    margin: 5px auto;
    padding: 5px 15px;
    background-color: var(--babyblue);
    border-radius: 25px;
    width: fit-content;
    transition-duration: 0.5s;
    transition-property: background-color, color, box-shadow;
}

#option-2:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px 5px var(--shade);
}

#option-2:active {
    transform: translateY(3px);
}

#option-3 {
    font-size: 1.2em;
    cursor: pointer;
    color: var(--midnight);
    margin: 5px auto;
    padding: 5px 15px;
    background-color: var(--moss);
    border-radius: 25px;
    width: fit-content;
    transition-duration: 0.5s;
    transition-property: background-color, color, box-shadow;
}

#option-3:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px 5px var(--shade);
}

#option-3:active {
    transform: translateY(3px);
}

#option-4 {
    font-size: 1.2em;
    cursor: pointer;
    color: var(--midnight);
    margin: 5px auto;
    padding: 5px 15px;
    background-color: var(--nude);
    border-radius: 25px;
    width: fit-content;
    transition-duration: 0.5s;
    transition-property: background-color, color, box-shadow;
}

#option-4:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px 5px var(--shade);
}

#option-4:active {
    transform: translateY(3px);
}

#congrats-womp {
    font-size: 1.8em;
    color: var(--midnight);
    text-align: center;
    line-height: 1.6rem;
    transition-duration: 1s;
    transition-property: color;
}

#score {
    font-family: 'Nerko One';
    color: var(--midnight);
    font-size: 1.5rem;
    margin: 10px auto;
    transition-duration: 1s;
    transition-property: color;
}

/* Score Saving Function Styling */
#player-score {
    font-family: 'Nerko One';
    font-size: 1.7em;
    text-align: center;
    color: var(--midnight);
    margin: 10px auto 0;
    transition-duration: 1s;
    transition-property: color;
}

.input {
    font-size: 1.5em;
    text-align: center;
    color: var(--midnight);
    margin: 15px auto;
    transition-duration: 1s;
    transition-property: color;

}

#input-box {
    height: 25px;
    margin: 15px 0;
}

#input-box:focus {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--midnight);
    border-radius: 3px;
    box-shadow: 0 0 5px 5px var(--lavendar);
    transition-duration: 1s;
    transition-property: color, background-color, box-shadow;
}

/* Score Board Styling */
#board {
    list-style-type: none;
    font-family: 'Nerko One';
    background-color: var(--moss);
    color: var(--midnight);
    display:flex;
    flex-direction: column;
    text-align: center;
    row-gap: 15px;
    border-radius: 25px;
    height:fit-content;
    padding: 10px 25px;
    margin-top: 0;
    transition-duration: 1s;
    transition-property: color, background-color;


}


/* To Toggle Dark-Mode */
#modes {
    display: flex;
    flex-direction: row;
    color: var(--midnight);
    background-color: none;
    border-radius: 25px;
    padding: 0;
    column-gap: 5px;
    margin-top: 15px;
}

.dark-mode {
    background-color: var(--midnight);
    color: white;
}

.dark-mode #title {
    color: white;
    background-color: var(--midnight);
    border: 10px solid var(--lavendar);
    border-radius: 35px;
    padding: 15px 20px;
    box-shadow: 0 0 0px 10px white;
}

.dark-mode #timer-container {
    color: white;
    padding: 10px 15px;
    text-align: center;
    width: 50%;
    background-color: var(--dusk);
    border-radius: 35px;
    margin: 15px auto;

}

.dark-mode .question-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-height: 30vh;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 35px;
    width: 80%;
    margin-bottom: 20px;
    transition-duration: 1s;
    transition-property: background-color, color;
}

.dark-mode .right-answer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-height: 30vh;
    background-color: #34411f;
    padding: 10px 15px;
    border-radius: 35px;
    width: 80%;
    margin-bottom: 20px;
    transition-duration: 1s;
    transition-property: background-color, color;
}

.dark-mode .wrong-answer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-height: 30vh;
    background-color: #972f3f;
    padding: 10px 15px;
    border-radius: 35px;
    width: 80%;
    margin-bottom: 20px;
    transition-duration: 1s;
    transition-property: background-color, color;
}

.dark-mode #question {
    color: white;
    text-align: center;
    line-height: 1.6rem;

}

.dark-mode #player-score {
    font-size: 1.7em;
    text-align: center;
    margin: 10px auto 0;
    color: white;
    transition-duration: 1s;
    transition-property: color;
}

.dark-mode .input {
    font-size: 1.5em;
    text-align: center;
    color: white;
    margin: 15px auto;
    transition-duration: 1s;
    transition-property: color;



}

.dark-mode #congrats-womp {
    font-size: 1.8em;
    color: white;
    text-align: center;
    line-height: 1.6rem;
    transition-duration: 1s;
    transition-property: color;
}

.dark-mode #score {
    color: white;
}

.dark-mode #input-box:focus { 
    color: black;
    background-color: var(--glade);
    border-radius: 3px;
    box-shadow: 0 0 5px 5px var(--babyblue);
    transition-duration: 1s;
    transition-property: color, background-color, box-shadow;

}

#alert {
    color: var(--salmon);
    margin-bottom: 0;
    transition-duration: 1s;
    transition-property: color;
}

.dark-mode #alert {
    color: var(--spotlight);
    margin-bottom: 0;
    transition-duration: 1s;
    transition-property: color;
}

.dark-mode #board {
    background-color: var(--lavendar);
    color: white;
    display:flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 25px;
    height:fit-content;
    padding: 10px 25px;
    margin-top: 0;
    transition-duration: 1s;
    transition-property: color, background-color;


}

.dark-mode #light-mode {
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 15px;
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 25px;
    margin: 0;
    box-shadow:none;
    transition-duration: 1s;
    transition-property: color, background-color, box-shadow;
}

.dark-mode #dark-mode {

    cursor: pointer;
    color: white;
    background-color: var(--midnight);
    padding: 10px 15px;
    border: 5px solid var(--shade);
    border-radius: 25px;
    margin: 0;
    box-shadow: inset 0 0 3px 3px white;
    transition-duration: 1s;
    transition-property: color, background-color, box-shadow;
}

#dark-mode {
    font-family: 'Nerko One';
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 15px;
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 25px;
    margin: 0;
    transition-duration: 1s;
    transition-property: color, background-color, box-shadow;
}

#dark-mode:active {
    transform: translateY(5px);
    background-color: rgba(255, 255, 255, 0);
    border: 5px solid var(--midnight);
}

#light-mode {
    font-family: 'Nerko One';
    cursor: pointer;
    background-color: var(--spotlight);
    padding: 10px 15px;
    border: 5px solid var(--shade);
    border-radius: 25px;
    margin: 0;
    box-shadow: inset 0 0 3px 3px white;
    transition-duration: 1s;
    transition-property: color, background-color, box-shadow;
}

#light-mode:active {
    transform: translateY(5px);
    background-color: var(--shade);
    border: 5px solid var(--spotlight);

}

/* Media Queries for Smaller Viewports*/

@media screen and (max-width: 470px) {
   /* Title Styling */
    #title {
        font-size: 1rem;
        font-family: 'Rubik Distressed';
        color: var(--midnight);
        background-color: var(--glade);
        border: 10px solid var(--moss);
        border-radius: 35px;
        padding: 15px 20px;
        box-shadow: 0 0 0px 10px white;
        transition-duration: 1s;
        transition-property: color,background-color,box-shadow;

    }

    /* Timer Styling */
    #timer-container {
        font-family: 'Nerko One';
        font-size: 12px;
        color: var(--midnight);
        padding: 5px 0px;
        text-align: center;
        width: 90%;
        background-color: var(--babyblue);
        border-radius: 35px;
        margin: 15px auto;
        transition-duration: 1s;
        transition-property: background-color,color;
    }
    .dark-mode #timer-container {
        font-family: 'Nerko One';
        font-size: 12px;
        color: white;
        padding: 5px 0px;
        text-align: center;
        width: 90%;
        background-color: var(--dusk);
        border-radius: 35px;
        margin: 15px auto;
    }

    /* Question Section Styling */
    .question-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        min-height: 30vh;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 5px 5px;
        border-radius: 35px;
        width: fit-content;
        margin-bottom: 20px;
        transition-duration: 1s;
        transition-property: background-color, color;
    }
    .dark-mode .question-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        min-height: 30vh;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px 5px;
        border-radius: 35px;
        width: fit-content;
        margin-bottom: 20px;
        transition-duration: 1s;
        transition-property: background-color, color;
    }

    .right-answer {
        width: fit-content;
    }
    
    .wrong-answer {
        width: fit-content;
    }

    .dark-mode .right-answer {
        width: fit-content;
    }
    
    .dark-mode .wrong-answer {
        width: fit-content;
    }
    

    .start-quiz {
        font-family: 'Rubik Distressed';
        font-size: 1rem;
        color: white;
        background-color: var(--salmon);
        border: 10px solid var(--rosy);
        border-radius: 35px;
        padding: 15px 20px;
        box-shadow: 0 0 0px 10px var(--nude);
        animation-name: pulse-pink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transition-duration: 1s;
        transition-property: color, background-color, border, box-shadow;
    }

    .start-quiz:active {
        transition: none;
        animation:none;
        font-size: 1rem;
        transform: translateY(5px);
        cursor: pointer;
        color: var(--shade);
        background-color: white;
        border: 10px solid rgba(168,168,168,0.6);
        border-radius: 35px;
        padding: 15px 20px;
        box-shadow: 0 0 0px 10px rgba(168,168,168,0.3);
    
    }

    #save-score {
        font-family: 'Rubik Distressed';
        font-size: 1rem;;
        color: white;
        background-color: var(--salmon);
        border: 10px solid var(--rosy);
        border-radius: 35px;
        padding: 15px 20px;
        box-shadow: 0 0 0px 10px var(--nude);
        animation-name: pulse-pink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transition-duration: 1s;
        transition-property: color, background-color, border, box-shadow;
    }
    
    #save-score:active {
        font-size: 1rem;
        transition: none;
        animation:none;
        transform: translateY(5px);
        cursor: pointer;
        color: var(--shade);
        background-color: white;
        border: 10px solid rgba(168,168,168,0.6);
        border-radius: 35px;
        padding: 15px 20px;
        box-shadow: 0 0 0px 10px rgba(168,168,168,0.3);
    
    }
    
    #clear-history {
        font-family: 'Rubik Distressed';
        font-size: 1rem;
        color: white;
        background-color: var(--salmon);
        border: 10px solid var(--rosy);
        border-radius: 35px;
        padding: 15px 20px;
        box-shadow: 0 0 0px 10px var(--nude);
        animation-name: pulse-pink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transition-duration: 1s;
        transition-property: color, background-color, border, box-shadow;
    }
    
    #clear-history:active {
        font-size: 1rem;
        transition: none;
        animation:none;
        transform: translateY(5px);
        cursor: pointer;
        color: var(--shade);
        background-color: white;
        border: 10px solid rgba(168,168,168,0.6);
        border-radius: 35px;
        padding: 15px 20px;
        box-shadow: 0 0 0px 10px rgba(168,168,168,0.3);
    
    }
    #try-again {
        font-family: 'Rubik Distressed';
        font-size: 1rem;
        color: white;
        background-color: var(--salmon);
        border: 10px solid var(--rosy);
        border-radius: 35px;
        padding: 15px 20px;
        box-shadow: 0 0 0px 10px var(--nude);
        animation-name: pulse-pink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transition-duration: 1s;
        transition-property: color, background-color, border, box-shadow;
    }
    
    #try-again:active {
        font-size: 1rem;
        transition: none;
        animation:none;
        transform: translateY(5px);
        cursor: pointer;
        color: var(--shade);
        background-color: white;
        border: 10px solid rgba(168,168,168,0.6);
        border-radius: 35px;
        padding: 15px 20px;
        box-shadow: 0 0 0px 10px rgba(168,168,168,0.3);
    }

    #congrats-womp {
        font-size: 1.5em;
        color: var(--midnight);
        text-align: center;
        line-height: 1.6rem;
        transition-duration: 1s;
        transition-property: color;
    }
    .dark-mode #congrats-womp {
        font-size: 1.5em;
        color: white;
        text-align: center;
        line-height: 1.6rem;
        transition-duration: 1s;
        transition-property: color;
    }








}






